name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goVer: ['1.25']
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v5
  
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.goVer }}
   
    - name: Test
      run: go test -v ./...
